.navbarr {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 0px 40px;
    font-size: larger;
    border-radius: 90px;
    background-color: rgb(14, 94, 101);
    color: white;
    margin-top: 10px;
  }
  .navbarr li {
    padding: 0px 20px;
    color: white;
  }
  .navbarr li:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
    /* text-decoration: underline; */
    color: red;
    /* background-color: #14ebff; */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }
  .btn-danger:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
    /* text-decoration: underline; */
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-size: ;
    /* background-color: #14ebff; */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }
  .navbarr li a {
    color: white;
  }
  .navbar-brand {
    color: white;
    font-size: larger;
    font-weight: bold;
  }
  .navbar-brand:hover {
    color: red;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
  }

  .hero {
    width: 250%;
    height: 470px;
    margin-top: -210%;
    margin-left: 440%;
  }

  .hero:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-11px);
    cursor: pointer;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  }
  .png:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-11px);
    cursor: pointer;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  }
  .nam {
    margin-top: 180px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: italic;
    width: 100%;
    margin-left: 20%;
    color: white;
  }

  .para {
    margin-left: 20%;
    color: white;
    margin-top: 20px;
    justify-content: space-between;
    line-height: 1.625;
    font-size: large;
  }

  .nam:hover {
    transition: all 0.3s ease 0s;
    transform: translateY(-7px);
    /* text-decoration: underline; */
    color: rgb(255, 255, 255);
    /* background-color: #14ebff; */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }
  .table {
    margin-left: 100px;
    width: 200px !important;
    height: 40px;
    /* border: none; */
    border-radius: 20px;
    background-color: rgb(149, 2, 2) !important;
    color: white;
    letter-spacing: 2.5px;
  }

  .table:hover {
    color: rgb(0, 225, 255);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* text-transform: uppercase; */
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: #ff0000;
    font-weight: bold;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .learn {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin-top: 40px;
  }
  .ab {
    margin-top: 40px;
    font-weight: bold;
  }
  .png {
    width: 70%;
    height: 400px;
    margin-top: 8%;
    margin-left: 20%;
  }

  .paragraph {
    width: 70%;
    margin-top: 110px;
    margin-left: 90px;
    font-style: italic;
  }
  .p{
    font-weight: bold;
    width: 60%;
    margin-left: 90px;
    margin-top: ;
  }

  .ayu{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
 
  .navbarrr li{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0px 30px;
  }
  .navbarrr li:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* text-transform: uppercase; */
    /* letter-spacing: 2.5px; */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    /* background-color: #16767f; */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(255, 9, 9);
    transform: translateY(-7px);

  }
  .navbarrr li a {
    color: rgb(195, 18, 18);
  }
  .navbarrr {
    text-align: center;
    margin-left: -2%;
    margin-top: 60px;
    font-weight: bold;
    z-index: 14;
    font-size: large;
    color: red;
  }
  
  .menu{
    width: 80%;
    height: 250px;
    margin-top: 30px;

  }

  .burg{
    width: 70%;
    height: 300px;
    border-radius: 100px;
    margin-top: 5px;
  }

.menu:hover{
/* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    /* text-transform: uppercase; */
    /* letter-spacing: 2.5px; */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    /* background-color: #16767f; */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    /* color: #fff; */
    transform: translateY(-7px);


}
.rupee{
color: rgb(193, 12, 12);
margin-left: 30px;
}
.sakku{
margin-top: 20px;
margin-left: 70%;
width: 60%;
}

.boot{
width: 100%;
height: 600px;
margin-top: 100px;
}

.event{

width: 100%;
height: 400px;
position:absolute;
z-index: 1;
margin-left: 50px;
margin-top: -90%;

}
.style{
font-style: italic;
position:absolute;
z-index: 1;
margin-top: -43%;
color: white;
margin-left: 400px;
font-family: 'Times New Roman', Times, serif;
font-size: 32px;
font-weight: 700;
/* color: #5f5950; */


}
.abo{
color: rgb(169, 169, 17);
font-family: Georgia, 'Times New Roman', Times, serif;
/* font-weight: bold; */
font-style: italic;
}

.cb{
position:absolute;
z-index: 1;
margin-top: -87%;
color: white;
font-style: italic;
margin-left: -px;
}

.cbb{
position:absolute;
z-index: 1;
margin-top: -74%;
color: white;
font-style: italic;
margin-left: -px;

}
.cbbb{
position:absolute;
z-index: 1;
margin-top: -64%;
color: white;
font-style: italic;
margin-left: -px;

}
.cbbbb{
position:absolute;
z-index: 1;
margin-top: -54%;
color: white;
font-style: italic;
margin-left: -px;

}

.prince{
width: 100%;
height: 500px;
}

.cheiff{

width: 70%;
height: 340px;
position:absolute;
z-index: 1;
margin-top: -90%;
margin-left: 10%;
}
.cheifff{

width: 70%;
height: 330px;
position:absolute;
z-index: 1;
margin-top: -90%;
margin-left: 10%;
}
.cheiffff{

width: 70%;
height: 340px;
position:absolute;
z-index: 1;
margin-top: -90%;
margin-left: 40%;
}
.ruhii{
font-style: italic;
justify-content: space-around;
justify-content: space-around;
margin-left: 120px;
font-family:'Times New Roman', Times, serif;
position:absolute;
z-index: 1;
margin-top: -50px;
color: white;

}
.our{
color:;
font-family: 'Times New Roman', Times, serif;
}
.jj{
color: rgb(200, 200, 7);
font-style: italic;
}
.ruhiii{
font-style: italic;
justify-content: space-around;
justify-content: space-around;
margin-left: 130px;
font-family:'Times New Roman', Times, serif;
position:absolute;
z-index: 1;
margin-top: -60px;
color: white;
}
.ruhiiii{
font-style: italic;
justify-content: space-around;
justify-content: space-around;
margin-left: 140px;
font-family:'Times New Roman', Times, serif;
/* font-family: 'Times New Roman', Times, serif; */
position:absolute;
z-index: 1;
margin-top: -60px;
color: white;
}

.prod{
width: 100%;
height: 600pxx;
}

.ayuu{
position:absolute;
z-index: 1;
margin-top: -80%;
color: white;
width: 70%;
margin-left: 100px;
font-weight: 800;
}
.pr{
position:absolute;
z-index: 1;
margin-top: -70%;
color: white;
width: 70%;
font-style: italic;
margin-left: 100px;
/* font-weight: 800; */
}

#text1{
width: 400px;
height: 40px;
border-radius: 20px;
}
#text2{
width: 400px;
height: 40px;
border-radius: 20px;
}
#text3{
width: 400px;
height: 40px;
border-radius: 20px;
}
#text4{
height: 40px;
width: 400px;
border-radius: 20px;
}

#browser{
width: 400px;
border-radius: 20px;
}

.main{

background-color: rgb(255, 255, 255);
position:absolute;
z-index: 1;
margin-top: -100%;
padding: 50px;
}
.main input{
text-align: center  ;
}
.mark{
color: rgb(20, 137, 135);
margin-left: 40px;
font-weight: 700;
letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#btnn{
width: 50%;
border-radius: 20px;
color: white;
background-color: red;
border: none;

height: 37px;
margin-left: 100px;
}

#btnn:hover{
border: 5px dotted blue;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* text-transform: uppercase; */
    /* letter-spacing: 2.5px; */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(255, 255, 255);
    transform: translateY(-9px);
}

.menn{
width: 80%;
height: 160px;
border-radius: 80px;
margin-top: 40%;
}
.menn1{
width: 80%;
height: 160px;
border-radius: 80px;
margin-top: 40%;
}
.menn2{
width: 80%;
height: 160px;
border-radius: 80px;
margin-top: 40%;
}

.na {
color: black;
font-style: italic;
margin-top: 30px;
}

#cus{
margin-top: -20%;
font-weight: 900;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 2.5px;
}